@font-face {
    font-family: 'League Spartan';
    src: url(font/League_Spartan.zip);
    
}
@font-face {
    font-family: 'CooperBT';
    src: url(font/Cooper_BT_Font_Family.zip);
}
@font-face {
    font-family: 'Marykate';
    src: url(font/FontsFree-Net-Marykate-Regular.ttf);
}
@font-face {
    font-family: 'TheSeason';
    src: url(font/The\ Seasons\ Font.zip);
}
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 280vh;
    background-image: linear-gradient(rgba(225, 245, 136, 0.5),rgba(113, 184, 71, 0.5)),url(background.png);
    
    /*rgba(168, 167, 167, 0.5)*/
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;

    margin: auto;
    padding: 55px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
   
}
.image{
    width: 20%;
    position: absolute;
    top: 1%;
    left: -15px;
    
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 7px;
    position: relative;
    left: 10%;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'TheSeason';
    font-size: 27px;
    font-weight: bold;
    text-shadow: 
    0 0 10px#000000 ;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #afafaf;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 90%;
    position: absolute;
    top: 30%;
    left: 10%;
    transform: translateY(-50%);

    color: #000000;
    
}
.content h2{
    font-size: 50px;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'LeagueSpartan';
    text-align: left;
     
}

.content A{
    color: #0088ff;
    font-size: medium;
    text-decoration: none;
    text-align: left;
}
.content A:hover{
    color: #b700ff;
    text-decoration: underline;
}
.s1{
    position: absolute;
    right: 31%;
    top:400%;
}
.s2{
    position: absolute;
    left:0%;
    top:710%;
}
.s3{
    position: absolute;
    right:32%;
    top:1030%;
}
.img1{
    position: absolute;
    top:150%;
    left: 40%;
    width: 600px;
}
.img2{
    position: absolute;
    top:500%;
    left:0%;
    width: 500px;

}
.img3{
    position: absolute;
    top:820%;
    left: 40%;
    width: 500px;

}
.content p{
    margin: 20px auto;
    font-size: 25px;
    line-height: 25px;
    font-family: 'CooperBT';
    text-align: left;
    color: black;
    
}
.p1{
    position: absolute;
    left: 0%;
    top:130%;
}
.p2{
    position: absolute;
    left: 45%;
    top:460%;
}
.p3{
    position: absolute;
     left: 0%;
    top:800%;
}



.renstra{
    width: 100%;
    position: absolute;
    top:  275%;
    transform: translateY(-100%);
    text-align: center;
    letter-spacing: 5px;
    font-size: x-large;
    font-family: 'CooperBT';
    color: #ffffff;
    text-shadow: 
    
    0 0 5px #000000 ;
    
}
.button1
{
    position:absolute;
    top : 257%;
    left: 0%;
}
.button2
{
    position: absolute;
    top : 257%;
    right: 0%;
}
button{
top: 10px;
width: 65px;
padding: 15px 0;
text-align: center;
font-size: xx-large;
text-shadow: 
0 0 5px #000000 ;
font-family: 'Marykate';
margin: 20px 10px;
border-radius: 25px;

border: 2px solid #ffffff;
background:rgba(0, 0, 0, 0.5);
color: white;
cursor: pointer;
position: relative;
overflow: hidden;
/*#dae8f4*/
}
span{
    background: #6cb5f1;
    
    height: 0%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    z-index: -1;
    transition: 1s;
}
button:hover span{
    width: 100%;
    left: 0%;
    height: 100%;
    bottom: 0%;
    

    

}   
button:hover{
    border: 2px solid #636363;
    text-shadow: 
    0 0 5px #4c4e4c ;
    text-shadow: 
    0 0 10px #4c4e4c ;
   
}

